.header--market-place-4 .ps-dropdown a:hover {
  color: #ffffff;
}

.header--market-place-4 .ps-block--user-header a:hover {
  color: #fff;
}

.ps-banner--market-4 {
  position: relative;
}

.ps-banner--market-4 img{
  width: 100%;
}

.ps-banner--market-4 h4 {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #0098ce;
}

.ps-banner--market-4 h3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2em;
}

.ps-banner--market-4 h3 strong {
  font-weight: 600;
  color: #669900;
}

.ps-banner--market-4 .ps-btn {
  margin-top: 20px;
  padding: 12px 24px;
}

.ps-banner--market-4 .ps-banner__content {
  max-width: 1200px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 140px;
}

@media (max-width: 1680px) {
  .ps-banner--market-4 h4 {
    margin-bottom: 10px;
  }
  .ps-banner--market-4 h3 {
    font-size: 40px;
    line-height: 1.2em;
  }
}

@media (max-width: 1366px) {
  .ps-banner--market-4 h4 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .ps-banner--market-4 h3 {
    font-size: 40px;
  }
  .ps-banner--market-4 h3 br {
    display: none;
  }
}

@media (max-width: 1199px) {
  .ps-banner--market-4 {
    min-height: 400px;
  }
  .ps-banner--market-4 img {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .ps-banner--market-4 .ps-banner__content {
    padding: 0 30px;
  }
}

@media (max-width: 479px) {
  .ps-banner--market-4 h3 {
    font-size: 24px;
  }
  .ps-banner--market-4 p {
    font-size: 12px;
  }
}

#homepage-6 .ps-home-banner .owl-slider .owl-nav {
  left: 50%;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#homepage-6 .ps-home-banner .owl-slider .owl-nav > * {
  width: 48px;
  height: 48px;
}

#homepage-6 .ps-site-features {
  padding: 50px 0;
}

@media (max-width: 767px) {
  #homepage-6 .ps-site-features {
    padding: 30px 0;
  }
}

#homepage-6 .ps-top-categories {
  padding-top: 30px;
}

@media (min-width: 1680px) {
  #homepage-6 .ps-top-categories .row .col-xl-2 {
    max-width: calc(100% / 6);
  }
}

#homepage-6 .ps-deal-hot {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  #homepage-6 .ps-deal-hot{
    padding-top: 0;
  }
}
a.jo {
  color: #06e321;
}
.plantilla-principal{
  background-color: #06e321;
  text-align: center;
  padding: 10px 20px 0px 20px;
  background-image: url("/views/img/uno.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-repeat: initial;
  border: #fbff00 5px double;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.plantilla-principal1{
  text-align: center;
  padding: 10px 20px 0px 20px;
}
.plantilla-secundaria{
  display: flex;
  justify-content: center;
}
.imagen-baja{
  max-width: 200px;
}
.numero-pedido{
  width: 70px;
  height: 70px;
}
.numero-winer{
  width: 160px;
  height: 160px;
}
.numero-pedidorojo{
  width: 65px;
  height: 65px;
}
.numero-pedido img:hover{
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  cursor: pointer;
}
.plantilla-bolas{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.plantilla-winer{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.item-bola{
  margin: 10px;
}
.principal-h1{
  color: #fbff00;
  text-shadow: -2px -2px 1px #727422, 2px 2px 1px #727422, -2px 2px 1px #727422, 2px -2px 1px #727422;
}
.p-bolas{
  font-weight: bold;
  font-size: large;
  color: rgb(255, 255, 255);
  margin: 0;
}
.p-winer{
  /* font-weight: bold;
  font-size: large; */
  color: rgb(255, 255, 255);
  margin: 0;
}
.p-color{
  color: rgb(255, 255, 255);
}
#quedn{
  position: relative;
  top: 0px; left: 90%;
  background-color: #f3af48;
  color: #fff;
  width: 60px;
  border: #000 solid 1px;
  border-radius: 50px;
  font-size: larger;
  font-weight: bold;
}

@media (max-width: 560px) {
  .plantilla-secundaria{
    justify-content: center;
    display: block;
  }
  #quedn{
    top: 0px; left: 85%;
  }
  .item-bola{
    margin: 20px;
  }
}

@media (max-width: 290px) {
  .plantilla-secundaria{
    justify-content: center;
    display: block;
  }
  #quedn{
    top: 0px; left: 75%;
  }
  .imagen-baja{
    max-width: 150px;
  }
}

.videoclas{
  margin-top: 30px;
}
.imgborder{
  border: #000 solid 1px;
  border-radius: 10%;
}
.colorcute{
  color: #fff !important;
}
.botonses{
  justify-content: end;
}
.contestrella{
  position: relative;
    display: inline-block;
    text-align: center;
}
.numeroDesc{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
}
.butonInter{
  background-color: transparent;
  border: aliceblue;
}
.PresioPlantilla{
  color: #06e321;
  font-size: large;
  font-weight: bolder;
}
.nome{
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.activeVideotrue{
  display:none;
}

@media (max-width: 560px) {
  .activeVideotrue{
    display:block;
  }
  .activeVideofalse{
    display: none;
  }
}

.modal-container {
  background-color: #343a40; /* Fondo más oscuro */
  padding: 20px;
  border-radius: 20px;
}

.modal-container .font-weight-bold {
  color: #ffffff; /* Texto blanco */
  padding: 5px;
}

.modal-container .row {
  margin-bottom: 10px;
}

.modal-container .col-4.d-flex, .modal-container .col-8.d-flex {
  padding: 5px;
  border: 1px solid #ffffff; /* Bordes blancos alrededor de las columnas */
  border-radius: 20px;
}

.modal-container .text-right {
  text-align: right;
}

.modal-container .col-8 {
  color: #f8f9fa; /* Color de texto más claro para mejor visibilidad */
}

.btn-circle{
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.btn-circle.btn-acciones1 {
  width: 40px;
  height: 40px;  
  margin: 5px 100px 5px 100px;
}

.btn-circle.btn-acciones2 {
  width: 30px;
  height: 30px;
  margin: 5px 10px 5px 10px;
}

.btn-circle.btn-acciones3 {
  width: 50px;
  height: 50px;
  margin: 0;
}

.btn-circle i {
  font-size: 24px; /* Ajusta el tamaño del icono según sea necesario */
}
.btn-circle.btn-acciones2 i {
  font-size: 15px; /* Ajusta el tamaño del icono según sea necesario */
}

.form-control.text-white.border.rounded-pill.d-flex.justify-content-center.align-items-center:focus{
  color: #000000 !important;
}

.table-rounded {
  border-radius: 10px !important;
  overflow: hidden;
}
/* Estilos para el tooltip */
.tooltiper {
  position: relative;
  cursor: pointer;
}

.tooltiper .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 70%; /* Cambiado de bottom a top */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiper:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.centerText {
  text-align: center;
  align-content: center;
}

div:where(.swal2-container) {
  z-index: 10000 !important; /* Asegúrate de que este valor sea mayor que el z-index del modal */
}